{% extends 'delete.html' %}



{% block breadcrumb-page %}
    Categorias  
{% endblock %}



{% block title %}
    Activar Categoria    
{% endblock %}



{% block content-delete %}
    Estas seguro de activar la categoria {{ category }}
{% endblock %}


{% block bottoms %}
    <button type="submit" class="btn btn-primary btn-flat">
        <i class="fas fa-save"></i>
        Activar
    </button>
    <a href="{% url 'core:categories' %}" class="btn btn-danger btn-flat">
        <i class="fas fa-times"></i>
        Cancelar
    </a>
{% endblock %}
