{% extends 'form.html' %}

{% load widget_tweaks %}

{% block breadcrumb-page %}
    Articulos
{% endblock %}


{% block title %}
    Nueva categoria
{% endblock %}

{% block field %}
    <div class="form-group">
        <label for="exampleInputEmail1">Nombre(*):</label>
        {{ form.name|add_class:'form-control'|attr:'placeholder:Escribe el nombre de la categoria aqui...' }}
    </div>
{% endblock %}

{% block bottoms %}
    <button type="submit" class="btn btn-primary btn-flat">
        <i class="fas fa-save"></i>
        Guardar categoria
    </button>
    <a href="{% url 'core:categories' %}" class="btn btn-danger btn-flat">
        <i class="fas fa-times"></i>
        Cancelar
    </a>
{% endblock %}
