{% extends 'layout.html' %}


{% block main-content %}

<div class="card">

    <div class="card-header">
        <h2 class="card-title">Detalle: <b>{{ object }}</b></h2>
    </div>

    <div class="card-body">
        <div class="row">
            <img class="col-12 col-sm-4" src="{{ object.image.url }}" alt="">
            <div class="col-12 col-sm-8">
                <div class="row">
                    {% for item in object.get_items.all %}
                        <div class="col-12 col-sm-6">
                            <div class="info-box bg-light">
                                <div class="info-box-content">
                                    <span class="info-box-text text-center text-muted">{{ item }}</span>
                                    <span class="info-box-number text-center text-muted mb-0">{{ item.quantity }}</span>
                                </div>
                            </div>
                        </div>
                {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <div class="card-footer">
        <a href="{% url 'core:product-edit' object.id %}" class="btn btn-warning btn-flat d-block d-sm-inline mb-2 mb-sm-0 mr-sm-1">
            <i class="fas fa-save"></i>
            Editar 
        </a>
        <a href="{% url 'core:products' %}" class="btn btn-secondary btn-flat d-block d-sm-inline">
            <i class="fas fa-arrow-left"></i>
            Volver
        </a>
    </div>

</div>

{% endblock %}
