{% extends 'layout.html' %}


{% block main-content %}

<div class="row">
    <div class="col-7">
        <div class="card">

            <div class="card-header">
                <h2 class="card-title">Detalle: <b>{{ object }}</b></h2>
            </div>

            <div class="card-body">
                <div class="row">
                    {% for product in object.get_products.all %}
                        <div class="col-12 col-sm-6">
                            <div class="info-box bg-light">
                                <div class="info-box-content">
                                    <span class="info-box-text text-center text-muted">{{ product }}</span>
                                    <span class="info-box-number text-center text-muted mb-0">{{ product.quantity }}</span>
                                </div>
                            </div>
                        </div>
                {% endfor %}
                </div>
            </div>

            <div class="card-footer">
                <a href="{% url 'core:sale-edit' object.id %}" class="btn btn-warning btn-flat d-block d-sm-inline mb-2 mb-sm-0 mr-sm-1">
                    <i class="fas fa-save"></i>
                    Editar 
                </a>
                <a href="{% url 'core:sales' %}" class="btn btn-danger btn-flat d-block d-sm-inline">
                    <i class="fas fa-times"></i>
                    Volver
                </a>
            </div>
        </div>
    </div>
    <div class="col-5">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Productos a entregar</h3>
            </div>
            <div class="card-body p-0">
                <table class="table">
                  <thead>
                    <tr>
                      <th>Artículo</th>
                      <th style="width: 40px">Cantidad</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Empanadas</td>
                      <td class="text-center"><span class="badge bg-info">8</span></td>
                    </tr>
                    <tr>
                      <td>Pascualinas</td>
                      <td class="text-center"><span class="badge bg-info">1</span></td>
                    </tr>
                    <tr>
                      <td>Ravioles</td>
                      <td class="text-center"><span class="badge bg-info">1</span></td>
                    </tr>
                    <tr>
                      <td>Fideos</td>
                      <td class="text-center"><span class="badge bg-info">0</span></td>
                    </tr>
                  </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}
