{% extends 'layout.html' %}


{% block main-content %}

<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col">
                        <p class="p-0 m-0"><b>Cliente:</b> {{ object.customer.full_name }}</p>
                        <p class="p-0 m-0"><b>Total:</b> ${{ object.total }}</p>
                    </div>
                    <div class="col">
                        <p class="text-right">Fecha de Registro: <b>{{ object.created_at|date:"d/m/Y" }}</b></p>
                    </div>
                </div>
            </div>

            <div class="card-body">
                <div class="row">
                    {% for product in object.get_products.all %}
                        <div class="col-12 col-sm-6 col-md-4">
                            <div class="info-box bg-light">
                                <div class="info-box-content">
                                    <span class="info-box-text text-center text-muted">{{ product }}</span>
                                    <span class="info-box-number text-center text-muted mb-0">{{ product.quantity }}</span>
                                </div>
                            </div>
                        </div>
                {% endfor %}
                </div>
            </div>

            <div class="card-footer">
                <a href="{% url 'core:sale-edit' object.id %}" class="btn btn-warning btn-flat d-block d-sm-inline mb-2 mb-sm-0 mr-sm-1">
                    <i class="fas fa-save"></i>
                    Editar 
                </a>
                <a href="{% url 'core:sales' %}" class="btn btn-secondary btn-flat d-block d-sm-inline">
                    <i class="fas fa-arrow-left"></i>
                    Volver
                </a>
            </div>
        </div>
    </div>
    <div class="col col-sm-4">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Productos a entregar</h3>
            </div>
            <div class="card-body p-0">
                <table class="table">
                  <thead>
                    <tr>
                      <th>Artículo</th>
                      <th style="width: 40px">Cantidad</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for item in products_quantities %}
                      <tr>
                          <td>{{ item.name }}</td>
                          <td class="text-center"><span class="badge bg-info">{{ item.quantity }}</span></td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


{% endblock %}
