{% extends 'list.html' %}

{% load static %}


{% block breadcrumb-page %}
    Clientes
{% endblock %}

{% block messages %}
    <div class="row">
        {% if messages %}
            <div class="col">
                {% for message in messages %}
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <strong>{{ message }}</strong> 
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block title %}
    <i class="fas fa-search"></i> Lista de Clientes
{% endblock %}

{% block columns %}
    <th>Nombre</th>
    <th>Dirección</th>
    <th>Ciudad</th>
    <th class="text-center">Puntos</th>
    <th>Estado</th>
    <th class="text-center" width="200px">Acción</th>
{% endblock %}

{% block rows %}
{% for customer in object_list %}
    <tr>
        <td>{{ customer.full_name.upper }}</td>
        {% if customer.address %}
            <td>{{ customer.address.full_address }}</td>
        {% else %}
            <td>No hay domicilio</td>
        {% endif %}
        {% if customer.address.city %}
        <td>{{ customer.address.city }}</td>
        {% else %}
            <td>No hay ciudad</td>
        {% endif %}
        <td class="text-center">{{ customer.points }}</td>
        {% if customer.is_active %}
        <td><div class="badge badge-success">Activado</div></td>
        {% else %}
        <td><div class="badge badge-danger">Desactivado</div></td>
        {% endif %}
        <td class="text-center">
            <a class="btn btn-warning btn-flat btn-sm" href="{% url 'core:customer-edit' customer.pk %}">
                <i class="fas fa-edit"></i>
            </a>
            {% if customer.is_active %}
            <a class="btn btn-danger btn-flat btn-sm" href="{% url 'core:customer-deactivate' customer.pk %}">
                <i class="fas fa-trash"></i>
            </a>
            {% else %}
            <a class="btn btn-success btn-flat btn-sm" href="{% url 'core:customer-activate' customer.pk%}">
                <i class="fas fa-check"></i>
            </a>
            {% endif %}
        </td>
    </tr>
{% endfor %}
{% endblock %}

{% block bottoms %}
    <a class="btn btn-primary btn-flat" href="{% url 'core:customer-add' %}">
        <i class="fas fa-plus"></i> 
        Nuevo registro
    </a>
{% endblock %}


