{% extends 'layout.html' %}

{% block head %}
{% endblock %}

{% block title-page %}
    
{% endblock %}


{% block main-content %}
<!-- general form elements -->
<div class="card card-primary">
    <div class="card-header">
        <h3 class="card-title">
            {% block title %}
            {% endblock %}
        </h3>
    </div>
    <!-- /.card-header -->
    <!-- form start -->
    <form role="form" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="card-body">
            {% block field %}
            {% endblock %}
        </div>
        <!-- /.card-body -->

        <div class="card-footer">
            {% block bottoms %}
            {% endblock %}
        </div>
    </form>
</div>
<!-- /.card -->
{% endblock %} 


{% block js %}
{% endblock %} 
