{% extends 'layout.html' %}

{% load static %}

{% block head %}
<!-- DataTables -->
<link rel="stylesheet" href="{% static 'plugins/datatables-bs4/css/dataTables.bootstrap4.min.css' %}">
<link rel="stylesheet" href="{% static 'plugins/datatables-responsive/css/responsive.bootstrap4.min.css' %}">
<link rel="stylesheet" href="{% static 'plugins/datatables-buttons/css/buttons.bootstrap4.min.css' %}">

    {% block extra-head %}
    {% endblock %}

{% endblock %}

{% block breadcrumb-page %}{% endblock %}


{% block main-content %}

    <div class="card">
        <div class="card-body">
        {% block filters %}
        {% endblock %}
        </div>
    </div>

    {% block messages %}
    {% endblock %}
    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title">
                {% block title %}
                {% endblock %}
            </h3>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
            <table id="example1" class="table">
                <thead>
                    <tr>
                        {% block columns %}
                        {% endblock %}
                    </tr>
                </thead>
                <tbody>
                    {% block rows %}
                    {% endblock %}
                </tbody>
                <tfoot>
                    {% block tfoot %} {% endblock tfoot %}
                </tfoot>
            </table>
        </div>
        <!-- /.card-body -->
        <div class="card-footer">
            {% block bottoms %}
            {% endblock %}
        </div>
    </div>
    <!-- /.card -->
    <div class="card">
        <div class="card-body">
            {% block extras %}
            {% endblock %}
        </div>
    </div>
{% endblock %}


{% block js %}
<!-- DataTables -->
<script src="{% static 'plugins/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'plugins/datatables-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'plugins/datatables-responsive/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'plugins/datatables-responsive/js/responsive.bootstrap4.min.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/buttons.bootstrap4.min.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/buttons.colVis.min.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/buttons.flash.min.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/JSZip-2.5.0/jszip.min.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/pdfmake-0.1.36/pdfmake.min.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/pdfmake-0.1.36/vfs_fonts.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/buttons.html5.min.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/buttons.print.min.js' %}"></script>

<script>
  $(function () {
    $("#example1").DataTable({
        "responsive": true,
        "autoWidth": false,
        "language": {
            "lengthMenu": "Mostrar _MENU_ registros",
            "info": "Mostrando _PAGE_ de _PAGES_ páginas",
            "infoEmpty": "No hay páginas para mostrar",
            "emptyTable": "No hay datos disponibles",
            "infoFiltered":   "(filtrado de _MAX_ registros en total)",
            "search": "Buscar:",
            "loadingRecords": "Cargando...",
            "processing":     "Procesando...",
            "zeroRecords":    "No se encontró ningún registro compatible",
            "paginate": {
                "first": "Primero",
                "last": "Último",
                "next": "Siguiente",
                "previous": "Anterior"
            },
        },
    });

  });
</script>

    {% block extra-js %}
    {% endblock extra-js %}

{% endblock %}
