{% extends 'delete.html' %}



{% block breadcrumb-page %}
    Compras 
{% endblock %}



{% block title %}
    Anular Compra    
{% endblock %}



{% block content-delete %}
    Estas seguro de anular la <b>{{ purchase }}</b>
{% endblock %}


{% block bottoms %}
    <button type="submit" class="btn btn-primary btn-flat">
        <i class="fas fa-save"></i>
        Anular
    </button>
    <a href="{% url 'core:purchases' %}" class="btn btn-danger btn-flat">
        <i class="fas fa-times"></i>
        Cancelar
    </a>
{% endblock %}
